
<h2>Ajustes</h2>
<p>Consulta y modifica tu información personal</p>
<form method="get" action="/settings/resume">
  <p>Cambiar el nombre actual, <%=user_name %>, por:</p>
  <input type="text" name="new_name" placeholder="Escribe tu nuevo nombre"/>
  <input type="hidden" name="old_name" value="<%=user_name %>"/>
  <input type="hidden" name="title" value="<%=title %>"/>
  <input type="submit" value="Aceptar"/><br/><br/>
</form>
