<!DOCTYPE html>
<html>
  <head>
    <title><%=title %> - Ajustes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="favicon.ico" type="image/x-icon">
  </head>
  <body>
    <h1>Ajustes</h1>
    <p><%=message %></p>
    <p><a href="/">Volver al inicio</a></p>
  </body>
</html>
