<label for="nam" class="rem">Nombre</label>
<p><input type="text" id="nam" name="patient[name]" placeholder="<%= patient.name %>"/></p>
<label for="ema" class="rem">Email</label>
<p><input type="text" id="ema" name="patient[email]" placeholder="<%= patient.email %>"/></p>
<a href="/patients"><button type="button">Cancelar</button></a>
<input type="submit" value="Crear">
