<h2>Edita los datos del paciente</h2>

<% if(errors.length) { %>
  <ul id="errorMsgs">
    <% for(var i in errors) { %>
      <li><%= errors[i].message %></li>
    <% } %>
  </ul>
<% } %>

<form method="post" action="/patients/<%= patient.id %>?_method=put" >
  <% include _form_patient.ejs %>
</form>
